@charset "UTF-8";

/*--<FONTS>--================================================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@font-face {
  font-family: "gothic";
  font-display: swap;
  src: url("../fonts/gothic.woff") format("woff"), url("../fonts/gothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gothic";
  font-display: swap;
  src: url("../fonts/gothicbold.woff") format("woff"), url("../fonts/gothicbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "myriadpro";
  font-display: swap;
  src: url("../fonts/myriadpro.woff") format("woff"), url("../fonts/myriadpro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*--</FONTS>--======================================================================================================*/

/*--<NULL-STYLE>--======================================================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--</NULL-STYLE>--=====================================================================================================*/

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  padding: 0 10px;
  max-width: 1173px;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.burger {
  position: absolute;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.burger__button {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #000000;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease-in 0.1s;
  -o-transition: all 0.1s ease-in 0.1s;
  transition: all 0.1s ease-in 0.1s;
}

.burger__button::before {
  content: "";
  position: absolute;
  top: -300%;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 3px;
  -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
}

.burger__button::after {
  content: "";
  position: absolute;
  top: 300%;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 3px;
  -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
}

.burger__button.burger__button-active {
  background-color: transparent;
  -webkit-transition: all 0.1s ease-in 0.1s;
  -o-transition: all 0.1s ease-in 0.1s;
  transition: all 0.1s ease-in 0.1s;
}

.burger__button.burger__button-active:before {
  content: "";
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
}

.burger__button.burger__button-active:after {
  content: "";
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s;
  transition: top 0.2s linear, transform 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

/*--HEADER--====================================================================================================*/

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: block;
}

.burger {
  display: none;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__menu {
  position: relative;
}

.header__menu-row {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-socnets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.header__menu-socnets img {
  max-width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px 3px;
}

.header__menu-socnets img:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__list {
  -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  margin: 0px 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list a {
  height: 14px;
  color: #ffffff;
  font-family: "Gothic";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.header__list a:hover {
  content: "";
  text-decoration: underline;
}

.header__list li {
  margin: 0px 0px 0px 40px;
}

.header__list li:nth-child(4) {
  margin: 0px 0px 0px 120px;
}

.header__list li:first-child {
  margin: 0px 0px 0px 0px;
}

.header__list.active {
  top: 0;
  -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  transition: top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s;
  transition: transform 0.1s linear, top 0.3s ease 0.1s, -webkit-transform 0.1s linear;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-25%);
      -ms-transform: translateX(-25%);
          transform: translateX(-25%);
  width: 100px;
  height: 80px;
}

.header__logo img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
}

.header__search img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__search img:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50vh 0px 0px 0px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  text-align: center;
}

.header__title {
  position: relative;
  width: 100%;
  color: #ffffff;
  font-family: "Gothic";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__title:before {
  content: "";
  width: 55px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__subtitle {
  width: 100%;
  margin: 64px 0px 0px 0px;
  color: #ffffff;
  font-family: "Gothic";
  font-size: 24px;
  text-transform: uppercase;
}

.header__btn {
  margin: 48px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 238px;
  height: 50px;
}

.header__btn a {
  min-width: 100%;
  color: #ffffff;
  font-family: "Gothic";
  font-size: 18px;
  line-height: 50px;
  background-color: #000000;
  border-radius: 25px;
}

.header__btn a:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__tabs-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

.header__tabs-btn {
  cursor: pointer;
  margin: 10px 0px 0px 0px;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.header__tabs-btn:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__tabs-btn.active {
  background-color: #ffffff;
}

/*--/HEADER--====================================================================================================*/

/*--FOOTER--====================================================================================================*/

.footer {
  min-height: 175px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  position: relative;
}

.footer__list {
  margin: 43px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list li {
  margin: 0px 0px 0px 10px;
}

.footer__list li:hover {
  content: "";
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__list li:nth-child(4) {
  margin: 0px 0px 0px 240px;
}

.footer__list a {
  color: #000000;
  font-family: "Gothic";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__logo img {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__networks {
  margin: 40px 0px 40px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__networks-year {
  color: #000000;
  font-family: "myriadpro";
  font-size: 18px;
}

.footer__networks-links {
  height: 35px;
}

.footer__networks-links img {
  margin: 0px 5px 0px 0px;
  width: 35px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__networks-links img:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*--/FOOTER--====================================================================================================*/

/*--<MAIN>--====================================================================================================*/

.kids__content {
  margin: 46px 0px 93px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kids__content-elem {
  margin: 0px 0px 78px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kids__content-elem:last-child {
  margin: 0;
}

.kids__content-elem-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 560px;
          flex: 0 1 560px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.kids__content-elem-img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.kids__content-elem-body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 485px;
          flex: 0 1 485px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kids__content-elem-body-2 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.kids__content-elem-body-subtitle {
  color: #000000;
  font-family: "Gothic";
  font-size: 30px;
}

.kids__content-elem-body-title {
  font-family: "Gothic";
  color: #000000;
  font-size: 59px;
  font-weight: 700;
  position: relative;
  text-transform: lowercase;
}

.kids__content-elem-body-title:before {
  content: "";
  width: 55px;
  height: 2px;
  position: absolute;
  background-color: #7a7a78;
  left: 0;
  top: calc(100% + 24px);
}

.kids__content-elem-body-text {
  margin: 50px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #656565;
  font-family: "Gothic";
  font-size: 18px;
  line-height: 27px;
}

.kids__content-elem-body-btn {
  height: 50px;
  width: 170px;
  margin: 18px 0px 0px 0px;
}

.kids__content-elem-body-btn a {
  width: 100%;
  height: 100%;
  background-color: #7a7a78;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Gothic";
  font-size: 18px;
}

.kids__content-elem-body-btn a:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.subscribe__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #7a7a78;
}

.subscribe__form {
  width: 49%;
  padding: 50px 0px;
}

.subscribe__form ::-webkit-input-placeholder {
  opacity: 0.99;
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  background-color: #7a7a78;
}

.subscribe__form ::-moz-placeholder {
  opacity: 0.99;
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  background-color: #7a7a78;
}

.subscribe__form :-ms-input-placeholder {
  opacity: 0.99;
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  background-color: #7a7a78;
}

.subscribe__form ::-ms-input-placeholder {
  opacity: 0.99;
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  background-color: #7a7a78;
}

.subscribe__form ::placeholder {
  opacity: 0.99;
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  background-color: #7a7a78;
}

.subscribe__form-subtitle {
  color: #ffffff;
  font-family: "Gothic";
  font-size: 33px;
}

.subscribe__form-title {
  color: #ffffff;
  font-family: "Gothic";
  font-size: 65px;
  font-weight: 700;
}

.subscribe__form-namearea,
.subscribe__form-email {
  position: relative;
}

.subscribe__form-namearea:after,
.subscribe__form-email:after {
  content: "";
  width: 462px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
}

.subscribe__form-namearea {
  margin: 66px 0px 0px 0px;
}

.subscribe__form-email {
  margin: 50px 0px 0px 0px;
}

.subscribe__form-btn {
  margin: 50px 0px 0px 0px;
  width: 170px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.subscribe__form-btn:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.subscribe__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.input {
  cursor: black;
  opacity: 0.99;
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  background-color: #7a7a78;
}

.categorys__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categorys__title {
  margin: 83px 0px 0px 0px;
  color: #000000;
  font-family: "Gothic";
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.categorys__title span {
  font-weight: 700;
}

.categorys__content {
  width: 100%;
  margin: 78px 0px 0px 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categorys__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categorys__column > div {
  margin: 0px 0px 30px 0px;
}

.categorys__column-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
  height: 100%;
  padding: 0px 0px 0px 54px;
}

.categorys__column-item-body:hover {
  content: "";
  background-color: rgba(0, 0, 0, 0.74);
}

.categorys__column-item-subtitle {
  display: inline-block;
  color: #b1b1b1;
  font-family: "Gothic";
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
}

.categorys__column-item-title {
  color: #ffffff;
  font-family: "Gothic";
  font-size: 41px;
  font-weight: 700;
  position: relative;
}

.categorys__column-item-title:after {
  content: '';
  width: 55px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 120%;
  left: 0;
}

.categorys__column-item-btn {
  margin: 35px 0px 0px 0px;
}

.categorys__column-item-btn a {
  width: 61px;
  height: 13px;
  opacity: 0.77;
  color: #ffffff;
  font-family: "Gothic";
  font-size: 21px;
  line-height: 36px;
}

.categorys__column-item-btn a:hover {
  content: "";
  font-size: 25px;
}

.categorys__btn {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 50px;
}

.categorys__btn a {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 25px;
  font-family: "Gothic";
  font-size: 18px;
  line-height: 50px;
}

.categorys__btn a:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.column {
  width: 100%;
}

.column__minimg {
  min-width: 364px;
  height: 364px;
  position: relative;
}

.column__minimg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.column__maximg {
  min-width: 364px;
  height: 590px;
  position: relative;
}

.column__maximg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.column-left {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.column-center {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.column-center .column__maximg {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.column-center .column__minimg {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.column-right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.newinsta__body {
  margin: 80px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newinsta__row {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.newinsta__row-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: right;
  margin: 0px 38px 0px 0px;
}

.newinsta__row-title {
  color: #000000;
  font-family: "Gothic";
  font-size: 58px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.newinsta__row-title:before {
  content: '';
  position: absolute;
  width: 55px;
  height: 2px;
  background-color: #000000;
  top: 120%;
  right: 0px;
}

.newinsta__row-subtitle {
  margin: 31px 0px 0px 0px;
  color: #000000;
  font-family: "Gothic";
  font-size: 18px;
  line-height: 48px;
  text-transform: uppercase;
}

.newinsta__row-text {
  margin: 0px 75px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #656565;
  font-family: "Gothic";
  font-size: 18px;
  line-height: 27px;
}

.newinsta-mobile__slider {
  margin: 50px 0px 50px 0px;
  display: none;
}

.newinsta-pod__slider {
  margin: 60px 0px 60px 0px;
  display: none;
}

.newinsta__slider {
  margin: 70px 0px 110px 0px;
}

.slider {
  min-width: 100%;
  /* Активная точка */
  /* Элемент точки */
}

.slider .slick-dots {
  margin: 56px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  margin: 0 9px;
}

.slider .slick-dots li.slick-active button {
  background-color: #000000;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  border-radius: 50%;
}

.item {
  min-width: 100%;
}

.item img {
  max-height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__item-mobile,
.slider__item-pod,
.slider__item-fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.slider__item-mobile img,
.slider__item-pod img,
.slider__item-fullscreen img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__item-mobile a:hover,
.slider__item-pod a:hover,
.slider__item-fullscreen a:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(0.85);
          filter: brightness(0.85);
}

.endform {
  position: relative;
}

.endform img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.endform__content {
  background-color: rgba(0, 0, 0, 0.74);
}

.endform__body {
  height: 197px;
  width: 100%;
}

.endform__form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.endform__emailarea {
  border-bottom: 1px solid #ffffff;
  width: 40%;
}

.endform__emailarea ::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
}

.endform__emailarea ::-moz-placeholder {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
}

.endform__emailarea :-ms-input-placeholder {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
}

.endform__emailarea ::-ms-input-placeholder {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
}

.endform__emailarea ::placeholder {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
}

.endform__inputform {
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  font-family: "myriadpro";
  font-size: 18px;
  line-height: 48px;
}

.endform__namearea {
  width: 40%;
  border-bottom: 1px solid #ffffff;
}

.endform__namearea ::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
}

.endform__namearea ::-moz-placeholder {
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
}

.endform__namearea :-ms-input-placeholder {
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
}

.endform__namearea ::-ms-input-placeholder {
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
}

.endform__namearea ::placeholder {
  color: #ffffff;
  font-family: "myriadpro";
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
}

.endform__button {
  width: 170px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  cursor: pointer;
}

.endform__button:hover {
  content: "";
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/*--</MAIN>--===================================================================================================*/

@media (min-width: 767px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
  }

  .subscribe__form {
    width: 49%;
    padding: 50px 0px;
  }

  .subscribe__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .subscribe__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(((100vw - 20px) *0.51) + 10px);
            flex: 0 0 calc(((100vw - 20px) *0.51) + 10px);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    position: relative;
    padding: 0px 0px 33.85% 0px;
  }
}

@media (min-width: 1180px) {
  .subscribe__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100vw-((100vw - 1180px) / 2) + ((1180px - 20px) * 0.49) + 10px);
            flex: 0 0 calc(100vw-((100vw - 1180px) / 2) + ((1180px - 20px) * 0.49) + 10px);
  }
}

@media (max-width: 1185px) {
  .container {
    max-width: 970px;
  }

  .header__list {
    margin: 0px 15px;
  }

  .header__list li {
    margin: 0px 0px 0px 15px;
  }

  .header__list li:nth-child(4) {
    margin: 0px 0px 0px 80px;
  }

  .header__logo img {
    max-width: 65%;
  }

  .kids__content {
    margin: 30px 0px;
  }

  .kids__content-elem-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }

  .subscribe__form {
    padding: 30px 0px;
  }

  .subscribe__form-namearea:after,
  .subscribe__form-email:after {
    max-width: 80%;
  }

  .subscribe__form-namearea {
    margin: 30px 0px 0px 0px;
  }

  .subscribe__form-email {
    margin: 30px 0px 0px 0px;
  }

  .subscribe__form-btn {
    margin: 40px 0px 0px 0px;
    max-width: 50%;
  }

  .categorys__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  .column-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .column-left .column__minimg {
    width: 48%;
  }

  .column-left .column__maximg {
    height: 364px;
    width: 48%;
  }

  .slider__item-mobile img,
  .slider__item-pod img,
  .slider__item-fullscreen img {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .header__menu-socnets img {
    max-width: 25px;
  }

  .header__list {
    margin: 0px 3px;
  }

  .header__list a {
    font-size: 12px;
  }

  .header__list li {
    margin: 0px 0px 0px 10px;
  }

  .header__list li:nth-child(4) {
    margin: 0px 0px 0px 40px;
  }

  .header__logo {
    left: 49.4%;
  }

  .header__logo img {
    max-width: 35%;
  }

  .header__search {
    max-width: 25px;
  }

  .header__title:before {
    top: 125%;
  }

  .header__tabs-btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    top: -30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header__tabs-btn {
    margin: 0px 0px 0px 10px;
  }

  .footer__list li:nth-child(4) {
    margin: 0px 0px 0px 10px;
  }

  .footer__logo img {
    top: 110%;
  }

  .kids__content-elem {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .kids__content-elem-body {
    margin: 0px 0px 0px 10px;
  }

  .categorys__title {
    margin: 50px 0px 0px 0px;
  }

  .categorys__content {
    margin: 50px 0px 0px 0px;
  }

  .categorys__column {
    width: 45%;
  }

  .column-left .column__maximg {
    margin: 0px 0px 0px 15px;
    height: 364px;
    width: 44%;
  }

  .newinsta-pod__slider {
    display: block;
  }

  .newinsta__slider {
    display: none;
  }

  .slider__item-mobile img,
  .slider__item-pod img,
  .slider__item-fullscreen img {
    max-width: none;
  }

  .endform__namearea,
  .endform__emailarea {
    width: 35%;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    right: 5px;
    top: 0;
    z-index: 3;
  }

  .header__menu-row {
    display: block;
  }

  .header__menu-socnets {
    display: inline-block;
    justify-self: flex-start;
    margin: 10px 0px 0px 20px;
  }

  .header__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0;
    display: block;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: gray;
    z-index: 2;
  }

  .header__list a {
    font-size: 25px;
  }

  .header__list li {
    max-width: 90%;
    margin: 40px auto 0px auto;
    background-color: #c36f50;
    padding: 10px;
  }

  .header__list li:nth-child(4) {
    margin: 40px auto 0px auto;
  }

  .header__list li:first-child {
    margin: 70px auto 0px auto;
  }

  .header__logo {
    width: 140px;
    height: 100px;
    -webkit-transform: translateX(-40%);
        -ms-transform: translateX(-40%);
            transform: translateX(-40%);
  }

  .header__logo img {
    max-width: 100%;
  }

  .header__search {
    margin: 10px 0px 0px 20px;
  }

  .header__content {
    -webkit-transform: translateY(-75%);
        -ms-transform: translateY(-75%);
            transform: translateY(-75%);
  }

  .header__title {
    font-size: 35px;
  }

  .header__title:before {
    top: 120%;
  }

  .header__subtitle {
    font-size: 18px;
    margin: 40px 0px 0px 0px;
  }

  .header__btn {
    max-width: 50%;
  }

  .footer__list {
    display: block;
  }

  .footer__list li:nth-child(4) {
    margin: 0px 0px 0px 10px;
  }

  .footer__logo img {
    top: 50%;
    left: 60%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .kids__content-elem {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 25px 0px;
  }

  .kids__content-elem-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .kids__content-elem-body {
    margin: 10px 0px 0px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 560px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .kids__content-elem-body-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .kids__content-elem-body-title:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .kids__content-elem-body-title {
    text-align: center;
  }

  .subscribe__form {
    width: 100%;
    padding: 30px 20px;
  }

  .subscribe__img img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .categorys__title {
    margin: 40px 0px 0px 0px;
  }

  .categorys__content {
    margin: 40px 0px 0px 0px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .categorys__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .column__maximg {
    width: 364px;
    height: 364px;
  }

  .column-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .column-left .column__maximg {
    width: 100%;
    max-width: 364px;
  }

  .column-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .column-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .newinsta__body {
    margin: 40px 0px 0px 0px;
  }

  .newinsta__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .newinsta__row-label {
    margin: 0px 0px 0px 0px;
    text-align: center;
  }

  .newinsta__row-title:before {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .newinsta__row-subtitle {
    margin: 15px 0px 0px 0px;
  }

  .newinsta__row-text {
    margin: 10px 0px 0px 0px;
    text-align: center;
  }

  .newinsta-mobile__slider {
    display: block;
  }

  .newinsta-pod__slider {
    display: none;
  }

  .endform__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .endform__namearea,
  .endform__emailarea {
    width: 48%;
  }

  .endform__button {
    max-width: 50%;
    margin: 0px auto;
  }
}